@import '../../../styles/variables';
.card {
  box-shadow: $box-shadow !important;
}
.card-body {
  padding: 3.25rem !important;
  // background-color: rgb(19, 117, 19);
  background-image: url('https://www.publicdomainpictures.net/pictures/70000/nahled/gold-holiday-background.jpg');
  background-size:contain; 
  color: black
}