@import '../../../styles/variables';
.card {
  box-shadow: $box-shadow !important;
}
.home {
  padding: 3.25rem !important;
  background-image: url('https://www.publicdomainpictures.net/pictures/70000/nahled/gold-holiday-background.jpg');
  background-size:contain; 
  color: black
}