.single-holiday-card{
  max-width: 18rem;
  color: black;
}

.img-holder {
  position: relative;
  height: 200px;
  overflow: hidden;
}

.holiday-img {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}